#logo{
	float : left;
	width : 6em;
	height : 4em;
}

a.lien:link{
	text-decoration:none;
	
}



/*[fmt]0020-000A-3*/
.year{color: #D90000; font-size: 16px;}
.relative{  position:relative;}
.months{}
.month{  margin-top:12px;}
.months ul{  list-style:none;  margin:0px;  padding:0px;}
.months ul li a{  float:left;  margin:-1px;  padding:0px 15px 0px 0px;  color:#888888;  text-decoration:none;  font-size:18px;  font-weight:bold;  text-transform:uppercase;}
.months ul li a:hover, .months ul li a.active{  color:#D90000;}
.calendrier{  border-collapse:collapse;}
.case{  border:1px solid #A3A3A3;  width:80px;  height:80px;}
.today{  border:2px solid #D90000;  width:80px;  height:80px;}
.padding{  border:none;}
.case:hover{  background:#DFDFDF;  cursor:pointer;}
.nomJour{  font-weight:normal;  color:#A8A8A8; text-align:center;}
.day{  position:absolute;  color:#8C8C8C;  bottom:-40px;  right:5px;  font-weight:bold;  font-size:24.3pt;}
.events{  position:relative;  width:79px;  height:0px;  margin:-39px 0px 0px;  padding:0px;}
.listeJour { width:10px;  height:10px;  float:left;  background:#000;  border-radius:10px;  -moz-border-radius:10px;  -webkit-border-radius:10px;  -khtml-border-radius:10px;  border-radius:10px 10px 10px 10px;  margin-left:6px;  overflow:hidden;  text-indent:-3000px;}
.expedition::before{color: green;}
.expedition::before{color: orange;}
.case:hover .events{  position:absolute;  left:582px;  top:66px;  width:442px;  list-style:none;  margin:0px;  padding:11px 0px 0px;}
.case:hover .listeJour{  height:40px;  line-height:40px;  font-weight:bold;  border-bottom:1px solid #D6D6D6;  padding-left:41px;  text-indent:0;  background:none;  width:500px;}
.case:hover .listeJour:first-child{  border-top:1px solid #D6D6D6;}
.daytitle{  display:none;}
.case:hover .daytitle{  position:absolute;  left:582px;  top:21px;  width:442px;  list-style:none;  margin:0px 0px 0px 16px;  padding:0px;  color:#D90000;  font-size:41px;  display:block;  font-weight:bold;}
.clear{  clear:both;}

form.formEvent{
	
	text-align: center;
}

form.formEvent{
	
	text-align: center;
}

#navi{
	background-color: white;
	box-shadow : 0px 5px 10px gray;
	padding-bottom : 1em;
}

.navigation{
	font-size : 1.5em;
	margin-top : 1em;
}

#recherche{
	text-align : left;
	margin-top : 1.4em;
}

#connexion{
	padding-top : 5em;
	padding-bottom : 5em;
}

#bg{
	background-color: white;	
}

.vt_auteur
{
width:20%;
background-color : rgb(244,238,250);
}
.vt_mess
{
width:75%;
background-color : rgb(244,238,250);
}

#banniere
{
width: 600px;
height: 150px;
background-position:  center;
margin-bottom: 20px; 
background-image: url('images/banniere.jpg');
}

#corps_forum
{
border: 1px solid black;
width: 90%;
margin-top: 50px;
margin-left: 5%;
margin-bottom: 10Opx;
padding: 5px;
background-color: rgb(237,224,213);
}

#footer
{
border: 1px solid black;
width: 90%;
margin-top: 50px;
margin-left: 5%;
margin-bottom: 10Opx;
padding: 5px;
background-color: rgb(237,224,213);
}

.ico {width:2%}
.titre { width:61%; }
.nombremessages { width:2%; }
.nombrevu { width:4%; }
.nombresujets { width:2%; }
.auteur { width:7%; }
.derniermessage { width:18%; }
.categorie { width:92%; background-color : rgb(244,238,250); }

.interieurTableau{ border: 1px solid black; background-color: #F5F5F5; vertical-align:top; }
.tableauForum { background-color: #F5F5F5; border: 1px solid black; }
.enteteForum { background-color: #F5F5F5; border: 1px solid black; }

#quote
{
width: 100%;
background-color : rgb(220,220,220);
margin-top: 2px;
margin-bottom: 2px;
font-family: "Comic sans MS", Arial, Verdana, serif;
}

.mp_titre { width:65%; }
.mp_expediteur { width:10%; }
.mp_time { width:20%; }

